@import "../colors.scss";
@import "../config.scss";

button {
  @include element($maroon, $moccasin_light);
  margin: 0;
  overflow-x: visible;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.8s ease;
  border: 1px solid $moccasin_light;
  color: $moccasin_light;
}

button:hover {
  color: darken($maroon, 5);
  background-color: lighten($moccasin_light, 5);
}

button:active {
  background-color: lighten($maroon, 73);
  transform: translateY(4px);
}

.button-disabled {
  color: lighten($moccasin_light, 5);
  background-color: #888;
}

.button-disabled:hover {
  cursor: not-allowed;
  color: lighten($moccasin_light, 5);
  background-color: #888;
}
