@import "../config.scss";
@import "../colors.scss";

.choice-text {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 500px;

  .choice-container {
    @include customFlex(row, flex-start, flex-start);
    font-family: $font2;
    width: inherit;
    padding-left: 25px;

    .choice-letter {
      color: $maroon;
      font-family: inherit;
      width: 7%;
    }
    .choice-question {
      font-family: inherit;
      width: 90%;
    }

    .choice-made {
      background-color: #fff;
    }
  }
}

.choice-text.disabled {
  pointer-events: none;
  opacity: 0.7;
}
