@import "../config.scss";
@import "../colors.scss";

.choice-text {
  margin-left: 10px;
  margin-bottom: 20px;

  .choice-container {
    width: 100%;
    @include customFlex(row, flex-start, flex-start);

    .choice-letter {
      width: 5%;
    }
    .choice-question {
      width: 95%;
    }
  }
}
