@import "../config.scss";
@import "../colors.scss";

.custom-modal {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 400px;
  z-index: 5;
  box-shadow: 0 0 8px 2px $moccasin-light;
  background-color: $moccasin_light;
  border: 1px solid lighten($maroon, 50);
  border-radius: 25px;

  &__container {
    height: inherit;
    width: inherit;
    @include customFlex(column, space-around, center);
  }

  &__text {
    color: $maroon;
    font-weight: 700;
    padding: 20px;
    text-align: center;
  }
}
