@import "../config.scss";
@import "../colors.scss";

.detailed-answer {
  @include centerFlex(column);
  width: 500px;
  margin-bottom: 20px;
  animation: fadeIn 2000ms;

  .icons-container {
    @include centerFlex(row);

    .icon-show-next {
      cursor: pointer;
      font-size: 4rem;
      margin-left: 10px;
      color: $maroon;
    }

    .break-icon {
      cursor: pointer;
      color: $maroon;
      font-size: 5rem;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .title {
    font-family: $font2;
    text-decoration: underline;
    color: $maroon;
    margin-bottom: 5px;
  }
  .answer-text {
    font-family: "MS Tahoma";
    margin-right: 10px;
  }

  .link {
    width: 500px;
    .link__anchor {
      text-decoration: none;
      text-align: left;
    }
  }

  .line {
    @include centerFlex(column);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
