@import "../config.scss";
@import "../colors.scss";

.detailed-answer {
  @include customFlex(column, flex-start, center);
  margin-left: 10px;
  width: 500px;
  margin-bottom: 20px;

  .line {
    margin-right: 10px;
  }

  .icon-show-next {
    cursor: pointer;
    font-size: 4rem;
    color: $maroon;
    margin-right: 10px;
  }

  .title {
    font-family: "MS Tahoma";
    margin-right: 10px;
    text-decoration: underline;
    color: $maroon;
    margin-bottom: 10px;
  }

  .answer-text {
    font-family: "MS Tahoma";
    margin-right: 10px;
  }

  .link {
    width: 500px;
    .link__anchor {
      text-decoration: none;
      text-align: left;
    }
  }
}
