@import "../config.scss";
@import "../colors.scss";

.top-menu {
  width: 500px;
  height: 42vh;

  &__container {
    @include customFlex(row, space-around, center);
  }
  .questions-container {
    @include centerFlex(column);
  }

  .category-title {
    @include centerFlex(column);
  }

  .icon-container {
    @include centerFlex(column);
    width: 15rem;
    height: 22rem;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 8px 2px $maroon;

    img {
      width: inherit;
      height: inherit;
      border-radius: 25px;
      border: 1px solid $maroon;
      object-fit: cover;
    }
  }

  .right-container {
    @include centerFlex(column);
  }
}
