@import "./config.scss";
@import "./colors.scss";

.home {
  height: 100vh;
  background: linear-gradient($moccasin_light, $chocolate, $maroon);
  @include centerFlex(column);

  ul {
    height: 100vh;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .theotokos-icon {
    top: 70px;
    width: 14rem;
    height: 18rem;
  }
}
