@import "./config.scss";
@import "./colors.scss";

.home {
  height: 100vh;
  background: linear-gradient($moccasin_light, $chocolate, $maroon);

  .theotokos-icon {
    top: 70px;
    width: 14rem;
    height: 18rem;
  }

  .timer-icon {
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 20px;
    color: $maroon;
  }
}
