@import "./config.scss";
@import "./colors.scss";

.home {
  height: 100vh;
  background: $linear_gradient;
  overflow: hidden;
  @include centerFlex(column);

  .home-loader {
    height: 70px;
    position: relative;
    top: 80px;
  }

  .home__list {
    height: 100vh;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  .home__list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .theotokos-icon {
    top: 70px;
    width: 14rem;
    height: 18rem;
  }
}
