@import "./config.scss";
@import "./colors.scss";

.menu {
  padding-top: 80px;
  width: 250px;
  left: -300px;
  height: 100vh;
  background-color: $moccasin_light;
  position: fixed;
  top: 0;
  z-index: 5;
  padding-left: 30px;
  @include customFlex(column, flex-start, center);
  transition: all 0.8s ease-in-out;

  &.active {
    left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      margin-bottom: 30px;

      .link {
        @include customFlex(row, flex-start, center);
        font-size: 2rem;
        font-weight: 500;
        color: $maroon;
        text-decoration: none;
        letter-spacing: 0.2rem;

        p {
          margin-left: 10px;
          margin-bottom: -8px;
        }
      }

      p:hover {
        font-weight: 700;
      }

      .menu-icon {
        font-size: 3rem;
        color: $maroon;
      }
    }
  }
}
