@import "./config.scss";
@import "./colors.scss";

.menu {
  padding-top: 20px;
  width: 300px;
  left: -320px;
  height: 100vh;
  background-color: $moccasin_light;
  position: fixed;
  top: 0;
  z-index: 5;
  padding-left: 35px;
  @include customFlex(column, flex-start, center);
  transition: all 0.8s ease-in-out;

  &.active {
    left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    width: 90%;

    li {
      margin-bottom: 25px;
      .link {
        font-size: inherit;
        color: $maroon;
        text-decoration: none;
        letter-spacing: 0.2rem;
      }

      &:hover {
        font-weight: 700;
      }
    }
  }
}
