@import "./config.scss";
@import "./colors.scss";

.topbar {
  width: 100%;
  height: 60px;
  background-color: $moccasin_light;
  color: $maroon;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 0.5s ease;

  &.active {
    height: 0;
  }

  .hamburger-container {
    position: absolute;
    left: 10px;
    height: inherit;
    width: 12%;
    @include customFlex(row, space-between, center);

    .hamburger-icon {
      width: 33px;
      height: 25px;
      @include customFlex(column, space-between, center);
      cursor: pointer;

      span {
        width: 100%;
        height: 5px;
        background-color: $maroon;
        transform-origin: left;
        transition: all 1s ease;
      }
    }
  }

  .donate-icon-1 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 88px;
    transform: scaleX(-1);
  }

  .title-container {
    height: inherit;
    @include centerFlex(row);

    .title {
      font-size: 3rem;
      font-weight: 700;
      text-decoration: none;
      color: inherit;
    }

    .title--game {
      font-size: 2.2rem;
    }
  }

  .donate-icon-2 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 88px;
  }

  .timer-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
