@import "../config.scss";
@import "../colors.scss";

.multi-categories-no-timer {
  width: 100vw;
  background: linear-gradient($moccasin_light, $chocolate, $maroon);
  // @include centerFlex(column);
  margin-top: 60px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  p {
    position: relative;
    top: 80px;
    @include centerFlex(row);
    color: $maroon;
  }
}
