@import "../config.scss";
@import "../colors.scss";

.multi-categories-no-timer {
  height: 100vh;
  p {
    position: relative;
    top: 80px;
    @include centerFlex(row);
    color: $maroon;
  }
}
