@import "../config.scss";
@import "../colors.scss";

.show-question {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &.fade-in {
    animation: fadeIn 2000ms;
  }

  &__container {
    @include centerFlex(column);
    width: 500px;

    .question-title {
      width: inherit;
      margin-bottom: 20px;
      font-family: $font2;
      color: $maroon;
      padding-left: 25px;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.show-question::-webkit-scrollbar {
  display: none;
}
