@import "../config.scss";
@import "../colors.scss";

.categories-item {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;

  @include customFlex(column, space-between, center);

  .categories-item__image-container {
    @include centerFlex(column);
    width: 33rem;
    height: 24rem;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 8px 2px $moccasin-light;
    transition: all 0.5s ease;

    img {
      width: inherit;
      height: inherit;
      border-radius: 25px;
      border: 1px solid $maroon;
      object-fit: cover;
      transition: transform 1s;
    }
  }

  .categories-item__title {
    color: $moccasin-light;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px #000;
  }
}
