.animation {
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 200px;
  width: 200px;

  &.fade-out {
    animation: fadeout 1000ms;
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
